@model ThuVienBTL.Models.LOGIN_DG

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Form đăng nhập*@
<div class="container mt-3" style="border:inset">
    <h2 style="font-family:'Times New Roman', Times, serif; text-align:center">Đăng nhập</h2>

    <form method="post">
        <div class="mb-3 mt-3">
            <label for="uname" class="form-label">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Valid.</div>
        </div>

        <p style="color:red">@ViewBag.error</p>

        <button type="submit" class="btn btn-primary">Đăng nhập</button>

        <div class="container py-sm-3">
            <a href="~/User/DangKy">Tạo tài khoản</a>
        </div>
        <p></p>
    </form>
</div>
@*Hết form đăng nhập*@


