@model ThuVienBTL.Models.LOGIN_DG

@{
    ViewBag.Title = "UpdatePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-3" style="border:groove; max-width:700px; background-color:azure">
    <h2 style="font-family:'Times New Roman', Times, serif; text-align:center">Đổi mật khẩu</h2>

    <form method="post">
        <div class="mb-3 mt-3" style="font-family: 'Times New Roman', Times, serif; font-size: large; color: orangered">
            <label for="uname" class="form-label">Tên đăng nhập:</label>
            <input type="text" class="form-control" id="uname" placeholder="Nhập tên đăng nhập..." name="uname" required>
            <div class="valid-feedback">Valid.</div>
        </div>


        @*<div class="form-group">
            <label for="validationCustom03" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback" id="password-error">
                Mật khẩu phải có ít nhất 8 ký tự.
            </div>
        </div>
        <div class="form-group">
            <label for="validationCustom05" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback" id="confirm-password-error">
                Mật khẩu không khớp.
            </div>
        </div>*@
        <div class="mb-3" style="font-family: 'Times New Roman', Times, serif; font-size: large; color: orangered">
            <label for="pwd" class="form-label">Mật khẩu:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu..." name="pswd" required>
            <div class="valid-feedback">Valid.</div>
        </div>

        <div class="mb-3" style="font-family: 'Times New Roman', Times, serif; font-size: large; color: orangered">
            <label for="new_pswd" class="form-label">Nhập lại mật khẩu:</label>
            <input type="password" class="form-control" id="new_pswd" placeholder="Nhập lại mật khẩu" name="new_pswd" required>
            <div class="invalid-feedback" id="confirm-password-error">
                Mật khẩu không khớp.
            </div>
        </div>

        @* <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="new_pswd_check" placeholder="Repeat new password" name="new_pswd_check" required>
            <div class="valid-feedback">Valid.</div>
        </div>
        *@
        <p style="color:red">@ViewBag.error</p>
        <div class="row">
            <div class="col-4">
                <a href="~/User/Profile" style="text-decoration:underline">Quay về</a>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary" @* style="margin-left:100px*@>Đổi mật khẩu</button>
            </div>
        </div>

        <p></p>
    </form>
</div>

<script>
    var passwordInput = document.getElementById('pwd').value.trim();
    var confirmPasswordInput = document.getElementById('new_pswd').value.trim();

    var validPassword = validatePassword(passwordInput);
    var validConfirmPassword = validateConfirmPassword(passwordInput, confirmPasswordInput);

    console.log("validPassword", passwordInput);
    console.log("validConfirmPassword", confirmPasswordInput);


    function validatePassword(password) {
        console.log("Check pass");
        var minLength = 8;
        var errorElement = document.getElementById('password-error');

        if (password !== "" && password.length >= minLength) {
            errorElement.style.display = 'none';
            return true;
        } else {
            errorElement.textContent = 'Mật khẩu phải có ít nhất 8 ký tự.';
            errorElement.style.display = 'block';
            return false;
        }
    }
    function validateConfirmPassword(password, confirmPassword) {
        console.log("Check repass");
        var errorElement = document.getElementById('confirm-password-error');

        if (confirmPassword !== "" && confirmPassword === password) {
            errorElement.style.display = 'none';
            return true;
        } else {
            errorElement.textContent = 'Mật khẩu không khớp.';
            errorElement.style.display = 'block';
            return false;
        }
    }
</script>
@*Hết form đăng nhập*@